.curso article {
    display: flex;
    flex-direction: row;
    gap: 3px;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
.curso article h2 {
    font-size: medium;
}

.curso article i {
  margin-right: 5px;
}

.section-title p{
  margin-top: 5px;
}