* {
  margin: 0;
  padding: 0;
}

body {
  color: #464646;
  background-color: #E0E0E0;
}

main {
  max-width: 1000px;
  margin: auto;
}

.container {
  background-color: #E0E0E0;
  box-shadow: 20px 20px 60px #bebebe,
              -20px -20px 60px #fff;
  padding: 20px;
  margin: 0 20px 20px 30px;
  border-radius: 20px;
}

.section-title{
  margin-bottom: 10px;
}

/* dark mode */

body.dark-mode {
  color: #E0E0E0;
  background-color: #1E1E1E;
}

body.dark-mode header {
  background-color: #2C2C2C;
  box-shadow: 0px 10px 10px #111;
}

body.dark-mode .header-inner-content h1 {
  color: #D0D0D0;
}

body.dark-mode .container {
  background-color: #2A2A2A;
  box-shadow: 20px 20px 60px #111, -20px -20px 60px #333;
}

body.dark-mode footer {
  background: #121212;
  color: #888;
}

body.dark-mode .footer-container {
  border-bottom: 2px solid #555;
}

/* media query */

@media (max-width: 550px) {
  .title {
    font-size: 13px;
  }
  
  #profile-container {
    flex-direction: column;
  }
}