* {
  margin: 0;
  padding: 0;
}

body {
  color: #464646;
  background-color: #E0E0E0;
}

header {
  background-color: #ECECEC;
  box-shadow: 0px 10px 10px #bebebe;
  margin-bottom: 50px;
}

#header-inner-content {
  margin: auto;
  max-width: 1300px;
  padding: 15px 20px 20px 15px;
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 40px;
  height: 40px;
  vertical-align: -0.125em;
}

.header-inner-content h1 {
  color: #606060;
  user-select: none;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(5, 102, 141);
  background: linear-gradient(
    63deg,
    #05668d 0%,
    rgba(66, 122, 161, 1) 36%,
    rgba(235, 242, 250, 1) 94%
  );
  background-size: 300% 300%;
  background-position: right center;
  transition: 0.5s cubic-bezier(0.24, 0.51, 0.32, 0.98);
  border-radius: 30px;
  box-shadow:
    inset 3px 3px 3px rgba(235, 242, 250, 0.42),
    inset -4px -4px 4px rgba(235, 242, 250, 0.42);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background: linear-gradient(
    127deg,
    rgba(235, 242, 250, 1) 0%,
    rgba(137, 149, 164, 1) 66%,
    rgba(20, 30, 42, 1) 100%
  );
  background-size: 350% 250%;
  background-position: left center;
  box-shadow:
    3px 3px 4px rgba(100, 116, 133, 0.5),
    -3px -3px 4px rgba(235, 242, 250, 0.4);
  transition: 0.4s cubic-bezier(0.7, 0.34, 0.5, 1);
}

/* Animation for checked state */
.switch input:checked + .slider {
  background-position: top left;
  box-shadow:
    inset 3px 3px 3px rgba(47, 88, 116, 0.7),
    inset -4px -4px 4px #067cab;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em) scale(1.15);
  background-size: 380% 300%;
  background-position: right;
  box-shadow:
    3px 3px 4px #2f5874,
    -2px -2px 3px #067cab;
  animation: bounce 0.4s ease;
}

/* Animation for unchecked state */
.switch input:not(:checked) + .slider:before {
  animation: bounce-reverse 0.4s ease;
}

@keyframes bounce {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(1.7em) scaleX(0.8) scaleY(1.2);
  }
  75% {
    transform: translateX(1.45em) scaleX(1.1) scaleY(0.9);
  }
  100% {
    transform: translateX(1.5em) scale(1.15);
  }
}

@keyframes bounce-reverse {
  0% {
    transform: translateX(1.5em) scale(1.15);
  }
  50% {
    transform: translateX(-0.2em) scaleX(0.8) scaleY(1.2);
  }
  75% {
    transform: translateX(0.1em) scaleX(1.1) scaleY(0.9);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

main {
  max-width: 1000px;
  margin: auto;
}

.container {
  background-color: #E0E0E0;
  box-shadow: 20px 20px 60px #bebebe,
              -20px -20px 60px #fff;
  padding: 20px;
  margin: 0 20px 20px 30px;
  border-radius: 20px;
}

.section-title{
  margin-bottom: 10px;
}

/* dark mode */

body.dark-mode {
  color: #E0E0E0;
  background-color: #1E1E1E;
}

body.dark-mode header {
  background-color: #2C2C2C;
  box-shadow: 0px 10px 10px #111;
}

body.dark-mode .header-inner-content h1 {
  color: #D0D0D0;
}

body.dark-mode .container {
  background-color: #2A2A2A;
  box-shadow: 20px 20px 60px #111, -20px -20px 60px #333;
}

body.dark-mode footer {
  background: #121212;
  color: #888;
}

body.dark-mode .footer-container {
  border-bottom: 2px solid #555;
}

/* media query */

@media (max-width: 550px) {
  .title {
    font-size: 14px;
  }
  
  #profile-container {
    flex-direction: column;
  }
}